#content-5 #arrows{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @media (max-width:927px){
        display: flex;
    }
    #pontos{
        flex-direction: row;
        display: flex;
        margin: 10px;
        
    }
    #pontos #dot1{
            width: 14px;
            height: 14px;
            background-color: #666666;
            margin: 3px;
            border-radius: 50%;
    }
    #pontos #dot2{
        width: 14px;
        height: 14px;
        background-color: #9c9c9c;
        margin: 3px;
        border-radius: 50%;
    }
    #pontos #dot3{
        width: 14px;
        height: 14px;
        background-color: #9c9c9c;
        margin: 3px;
        border-radius: 50%;
    }
}