@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  background-color: white;
}
#container header a {
  text-decoration: none;
  color: white;
}
#container #sobre-1 {
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172F63;
  color: #FFAA00;
  padding-top: 11vh;
}
#container #sobre-1 #imgback {
  position: relative;
  color: #FFAA00;
  max-height: 800px;
  width: 100%;
}
@media (max-width: 480px) {
  #container #sobre-1 #imgback #imgMonitor {
    display: none;
  }
}
@media (min-width: 480px) {
  #container #sobre-1 #imgback #imgCelular {
    display: none;
  }
}
#container #sobre-1 #imgback #imgCelular {
  max-width: 480px;
  position: relative;
  z-index: 1; /* Ajustado o z-index para que a imagem fique acima do gradiente */
  mask-image: linear-gradient(to left, transparent, black); /* Aplicando o gradiente como máscara */
  -webkit-mask-image: linear-gradient(to left, transparent, black); /* Adicionando prefixo -webkit para compatibilidade com navegadores mais antigos */
}
#container #sobre-1 #imgback #imgMonitor {
  height: 500px;
  position: relative;
  z-index: 1; /* Ajustado o z-index para que a imagem fique acima do gradiente */
  mask-image: linear-gradient(to left, transparent, black); /* Aplicando o gradiente como máscara */
  -webkit-mask-image: linear-gradient(to left, transparent, black); /* Adicionando prefixo -webkit para compatibilidade com navegadores mais antigos */
}
#container #sobre-1 #About {
  z-index: 999;
  width: 300px;
  position: absolute;
  margin-left: 35vh;
}
@media (max-width: 1024px) {
  #container #sobre-1 #About {
    margin-left: 15vh;
  }
}
@media (max-width: 780px) {
  #container #sobre-1 #About {
    margin-left: 5vh;
  }
}
@media (max-width: 480px) {
  #container #sobre-1 #About {
    margin-left: 1vh;
  }
}
#container #sobre-2 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  align-items: start;
  flex-direction: column;
  text-align: start;
  background-color: white;
  color: #172F63;
  margin: auto;
  margin-top: 10vh;
}
@media (max-width: 1280px) {
  #container #sobre-2 {
    margin-left: 4vh;
  }
}
#container #sobre-2 .bES {
  margin-left: 50%;
}
@media (max-width: 780px) {
  #container #sobre-2 .bES {
    margin-left: 0%;
  }
}
#container #sobre-2 #barraEnfeite {
  width: 15vh;
  height: 3px;
  background: linear-gradient(to right, #FFAA00, #172F63);
}
@media (max-width: 480) {
  #container #sobre-2 #textAbout {
    width: 280px;
  }
}
#container #sobre-2 #socialMedia {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: end;
}
#container #sobre-2 #socialMedia .icone {
  padding-top: 0.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  background-color: transparent;
  margin-right: 2vh;
  border-radius: 50%;
  border: #cf8a00 solid 3px;
  transition: 0.2s;
  cursor: pointer;
}
#container #sobre-2 #socialMedia .icone:hover {
  background-color: #FFAA00;
  transform: scale(1.04);
}

/*# sourceMappingURL=sobre.css.map */
