* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  background-color: #FFAA00;
}

.header {
  flex: 1 0;
  background-color: #FFAA00;
  width: 100%;
  min-height: 11vh;
}
.header header {
  max-width: 1100px;
  min-height: 11vh;
  color: white;
  background-color: #FFAA00;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media (max-width: 1024px) {
  .header header {
    justify-content: space-evenly;
  }
}
.header header h1 i {
  transition: 0.4s;
}
.header header h1 i:hover {
  color: #172F63;
}

#content-1 {
  background-color: #e69900;
  min-height: 796px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
#content-1 #text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-right: 15px;
  border-bottom: #172F63 solid 2px;
  border-left: #172F63 solid 2px;
  border-bottom-left-radius: 20px;
  width: 850px;
  text-align: start;
  padding: 30px;
  /*medias*/
  /*medias*/
}
@media (max-width: 1440px) {
  #content-1 #text1 {
    width: 850px;
    text-align: start;
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  #content-1 #text1 {
    width: 850px;
    text-align: start;
    padding: 30px;
  }
}
@media (max-width: 780px) {
  #content-1 #text1 {
    width: 500px;
    text-align: start;
    padding: 30px;
  }
}
@media (max-width: 425px) {
  #content-1 #text1 {
    width: 350px;
    height: 150px;
    padding: 15px;
  }
}
@media (max-width: 375px) {
  #content-1 #text1 {
    width: 300px;
    height: 150px;
    padding: 15px;
  }
}
@media (max-width: 340px) {
  #content-1 #text1 {
    width: 280px;
    height: 150px;
    min-width: 280px;
    border-left: none;
    border-bottom-left-radius: 0px;
  }
}
#content-1 #text2 {
  width: 850px;
  text-align: start;
  padding: 30px;
  margin-top: 20px;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
#content-1 #text2 #btn1 {
  border: #172F63 solid 2px;
  border-radius: 2px;
  background: none;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  color: #172F63;
  transition: 0.2s;
  display: none;
  font-weight: 600;
}
#content-1 #text2 #btn1:hover {
  background-color: #172F63;
  color: #FFAA00;
  border: #FFAA00 solid 2px;
}
@media (max-width: 600px) {
  #content-1 #text2 #btn1 {
    display: block;
  }
}
@media (max-width: 1440px) {
  #content-1 #text2 {
    width: 850px;
    text-align: start;
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  #content-1 #text2 {
    width: 850px;
    text-align: start;
    padding: 30px;
    font-size: 15pt;
  }
}
@media (max-width: 780px) {
  #content-1 #text2 {
    width: 500px;
    text-align: start;
    padding: 30px;
  }
}
@media (max-width: 425px) {
  #content-1 #text2 {
    width: 350px;
    height: 150px;
    padding: 15px;
    font-size: 13pt;
    margin-top: 140px;
  }
}
@media (max-width: 375px) {
  #content-1 #text2 {
    width: 300px;
    height: 150px;
    padding: 15px;
    font-size: 13pt;
  }
}
@media (max-width: 340px) {
  #content-1 #text2 {
    font-size: 12pt;
    width: 280px;
    height: 150px;
    min-width: 280px;
    border-left: none;
    border-bottom-left-radius: 0px;
  }
}

#content-2 {
  background-color: white;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  font-size: 15pt;
  color: #172F63;
}
#content-2 #textoDesafio {
  max-width: 1100px;
  padding: 30px;
  text-align: center;
}
#content-2 #textoDesafio p {
  margin-top: 25px;
}
@media (max-width: 425px) {
  #content-2 #textoDesafio {
    font-size: 12pt;
  }
}
#content-2 #desafioBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #172F63;
  font-size: 12pt;
}
@media (max-width: 780px) {
  #content-2 #desafioBox {
    flex-direction: column;
  }
}
#content-2 #desafioBox #box {
  padding: 25px;
  cursor: pointer;
  min-height: 270px;
  width: 300px;
  height: 300px;
  background-color: #FFAA00;
  border-radius: 7px;
  box-shadow: #122550 2px;
  transition: 0.6s;
  margin: 15px;
  flex: 1 0;
  flex-direction: column;
  justify-content: space-between;
}
#content-2 #desafioBox #box:hover {
  transform: scale(1.05);
  box-shadow: #122550 5px;
}
#content-2 #desafioBox #box #h4 {
  margin-top: -35px;
  max-height: 90px;
  height: 90px;
}
#content-2 #desafioBox #box h1 i {
  background-color: #cf8a00;
  padding: 5px;
  border-radius: 100%;
  color: #172F63;
  position: relative;
  bottom: 45px;
  left: -10px;
  font-size: 25pt;
}
#content-2 #desafioBox #box #btn2 {
  border: #172F63 solid 2px;
  border-radius: 2px;
  background: none;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  color: #172F63;
  transition: 0.2s;
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
#content-2 #desafioBox #box #btn2:hover {
  background-color: #172F63;
  color: #FFAA00;
  border: #FFAA00 solid 2px;
}
@media (max-width: 2560px) {
  #content-2 #desafioBox #box {
    flex-direction: row;
  }
}
@media (max-width: 780px) {
  #content-2 #desafioBox #box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 425px) {
  #content-2 #desafioBox #box {
    width: 250px;
    height: 250px;
  }
}

#content-3 {
  background-color: #172F63;
  min-height: 580px;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  color: #FFAA00;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 500px) {
  #content-3 {
    flex-direction: column;
  }
}
#content-3 #imgt {
  max-width: 1100px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 2560px) {
  #content-3 #imgt {
    justify-content: space-evenly;
  }
}
@media (max-width: 425px) {
  #content-3 #imgt {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 40px;
  }
}
@media (max-width: 320px) {
  #content-3 #imgt {
    margin-left: -11%;
  }
}
#content-3 #imgt #img {
  width: 280px;
  height: 427px;
}
#content-3 #imgt #img img {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 375px) {
  #content-3 #imgt #img {
    margin-left: 25px;
  }
}
#content-3 #imgt #text {
  background-color: rgba(255, 255, 255, 0);
  flex: 1 0 auto;
  min-width: 200px;
}
@media (max-width: 2560px) {
  #content-3 #imgt #text {
    margin-left: 90px;
    width: 400px;
  }
  #content-3 #imgt #text h3 {
    font-weight: 600;
  }
  #content-3 #imgt #text p {
    font-size: 16pt;
  }
}
@media (max-width: 1440px) {
  #content-3 #imgt #text {
    margin-left: 70px;
    width: 400px;
  }
}
@media (max-width: 1024px) {
  #content-3 #imgt #text {
    margin-left: 50px;
    width: 400px;
  }
}
@media (max-width: 780px) {
  #content-3 #imgt #text {
    margin-left: 30px;
    width: 320px;
  }
  #content-3 #imgt #text h3 {
    font-weight: 500;
  }
  #content-3 #imgt #text p {
    font-size: 13pt;
  }
}
@media (max-width: 425px) {
  #content-3 #imgt #text h3 {
    font-weight: 400;
  }
  #content-3 #imgt #text p {
    font-size: 12pt;
  }
}
@media (max-width: 375px) {
  #content-3 #imgt #text {
    width: 280px;
    padding-right: 25px;
  }
}
@media (max-width: 320px) {
  #content-3 #imgt #text {
    margin-right: 0px;
  }
  #content-3 #imgt #text h3 {
    font-weight: 300;
  }
  #content-3 #imgt #text p {
    font-size: 10pt;
  }
}

/*# sourceMappingURL=style.css.map */
