@import "./colors/colors.scss";
@import "./contents/content-1.scss";
@import "./contents/content-2.scss";
@import "./contents/content-3.scss";
@import "./contents/content-4.scss";
@import "./contents/content-5.scss";
@import "./contents/content-6.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0vh;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: transparent;
}

#container{
    background-color: $secondary-color;
}

.footer{
    flex:1 0;
    background-color: $primary-color;
    width: 100%;
    min-height: 11vh;
    footer{
        max-width: 1100px;
        min-height: 11vh;
        color: white;
        background-color: $primary-color;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;    

        #icons{
            display: flex;
            
            flex-direction: row;

            h2{
                margin: 8px;
                transition: 0.2s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                    color: $secondary-color;
                }
            }
            
        }
    }
}