@import "./colors/colors.scss";
@import "./contents/content-1.scss";
@import "./contents/content-2.scss";
@import "./contents/content-3.scss";
@import "./contents/content-4.scss";
@import "./contents/content-5.scss";
@import "./contents/content-6.scss";
@import "./pagescss/sobre.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0vh;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: transparent;
}

#container{
    background-color: $secondary-color;
}

