@import "./colors/colors.scss";
@import "./contents/content-1.scss";
@import "./contents/content-2.scss";
@import "./contents/content-3.scss";
@import "./contents/content-4.scss";
@import "./contents/content-5.scss";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    background-color: $secondary-color;
}

.header{
    flex:1 0;
    background-color: $secondary-color;
    width: 100%;
    min-height: 11vh;
    //position: fixed;
    header{
        max-width: 1100px;
        min-height: 11vh;
        color: white;
        background-color: $secondary-color;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;    
        #dropdown{
            display: none;
        }

        #links{
            display: flex;
            flex-direction: row;
            font-size: 15pt;
            align-items: center;
            margin-top: 10px;
            justify-content: space-between;
            width: 300px;

            #link button {
                text-decoration: none;
                color: white;
                background: none;
                border: none;
                position: relative;
                overflow: hidden;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background-color: $primary-color;
                    transition: width 0.4s;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }
        
        @media (max-width: 1024px){
            justify-content: space-evenly;
            
        }
        @media (max-width:1023px){
            #links{
                display: none;
            }
            #dropdown{
                display: block;
            }
        }
    
        h1 i{
            transition: 0.4s;
        }
        h1 i:hover{
            color: $primary-color;
        }
    }

}