
#content-5{
    background-color: white;
    min-height: 580px;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 15pt;
    color: $primary-color;
    @media (max-width:780px){
        display: flex;
    }
    
    

    #market{        
        max-width: 1100px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        #boxes{
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            display: none;
            

            @media (max-width:780px){
                display: flex;
            }

            #caixa1{
                display: block;
            }#caixa2{
                display: none;
            }#caixa3{
                display: none;
            }
        
            .caixas{
                color: $primary-color;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                color: $primary-color;
                font-size: 12pt;
                @media (max-width:780px) {
                    flex-direction: column;            
                }
                #box{
                    width: 279px;
                    height: 300px;
                    margin: 15px;
                    background-color: white;
                    color: $primary-color;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    text-align: start;     
                    
                    flex: 1 0;           
                    img{
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                    h5{
                        margin-left: 4%;
                    }
                }
            }   
        }
    }
}
