
#content-6{
    background-color: white;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    font-size: 15pt;
    color: $primary-color;
    @media (max-width:927px){
        display: none;
    }

    #textoDesafio{

        max-width: 1100px;
        padding: 30px;
        text-align: center;
        p{
            margin-top: 25px;
        }
        @media (max-width: 425px){
            font-size: 12pt;
        }
    }
    .page-1{
        display: block;
    }
    .page-2{
        display: none;
    }
    #desafioBox1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-size: 12pt;
        @media (max-width:780px) {
            flex-direction: column;            
        }


        #box{
            width: 279px;
            height: 300px;
            margin: 15px;
            background-color: white;
            color: $primary-color;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            text-align: start;     
            flex: 1 0;           
            img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            h5{
                margin-left: 4%;
            }
        }
    }
    #desafioBox2{
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-size: 12pt;
        @media (max-width:780px) {
            flex-direction: column;            
        }


        #box{
            width: 279px;
            height: 300px;
            margin: 15px;
            background-color: white;
            color: $primary-color;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            text-align: start;     
            flex: 1 0;           
            img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            h5{
                margin-left: 4%;
            }
        }
        
    }
}