
#content-4{
    background-color: white;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    font-size: 15pt;
    color: $primary-color;
    #sol{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width:640px){
            justify-content: space-evenly;
            flex-direction: row;
        }
        @media (max-width:425px){
            margin-left: 40px;
        }
        @media (max-width:320px){
            margin-left: 10px;
        }
        #solucoes{
            @media(min-width: 1280px){
                width: 500px;
                font-size: 18pt;
            }
            @media (min-width:640px){
                width: 300px;
            }
        }
        #opcoes{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            justify-content: center;
            @media(min-width: 1280px){
                width: 500px;
            }
            @media (max-width:425px){
                margin-right: 40px;
            }
            @media (max-width:320px){
                margin-right: 10px;
            }
            .text-container {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease;
            }
            .hidden {
                opacity: 0;
                transition: opacity 0.5s ease;
            }
                .text-container1 {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s ease;
                }
                .hidden1 {
                    opacity: 0;
                    transition: opacity 0.5s ease;
                }
                    .text-container2 {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.5s ease;
                    }
                    .hidden2 {
                        opacity: 0;
                        transition: opacity 0.5s ease;
                    }
            #btndd{
                flex: 1 0 auto;
                min-width: 300px;
                height: 37px;
                display: flex;
                justify-content: space-between;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 1px;
                background-color: transparent;
                border: none;
                border-bottom: $secondary-color solid 2px;
                color: $primary-color;
                transition: 0.2s;
                font-weight: 500;
                #ad{
                    display: block;
                }

                #au{
                    display: none;
                    position: relative;
                }
                @media(min-width: 1280px){
                    font-size: 17pt;
                }
                &:hover{
                    border-bottom: $primary-color solid 2px;
                }
            }
        }
    }
}